@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    *{
        margin:0;
        padding:0;
        box-sizing:border-box;
    }
    body{
        font-family: 'Epilogue', sans-serif;
        font-size:18px;
    }
}

.heroSection{
    width: min(100% - 4rem, 80em); 
    margin-inline: auto
}

.rightText{
    flex: 1 1 50%;
    margin-right: min(5%, 5rem);
}

.heroImage{
    flex: 1 1 auto;
}
